:root {
    font-size: 20px;
    --btn__color: rgba(97, 97, 97, 0.398);
}
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
}
img {
    display: block;
}
header {
    display: flex;
    justify-content: flex-end;
}
.header__btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--btn__color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: small;
    padding: 0.5em;
    margin: 0.5em;
}
.header__btn:hover {
    background-color: rgba(128, 128, 128, 0.605);
}
main {
    position: absolute;
    width: 100%;
}
main .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    height:100%;
}
.card {
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin-bottom: 0.4em;
    transition: 0.3s;
}
.card img:hover {
    filter:grayscale(100)
}
.card img {
    width: 100%;
}
.card__userInfo {
    font-size: smaller;
    font-weight: lighter;
    display: flex;
    position: absolute;
    align-items: center;
    background-color: var(--btn__color);
    color: whitesmoke;
    bottom:0;
    padding: 0.2em;    
}
.card__userInfo:hover {
    background-color: rgba(186, 186, 186, 0.475);
}
.card__userInfo i {
    font-size: 1em;
}
footer {
    position: absolute;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 47, 47);
    bottom: 0;
    width:100%;
}
.footer__btn {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:whitesmoke;
    padding:  0.5em 0.2em;
    margin: 0.1em 0.2em;
}
.footer__btn:hover {
    background-color: rgb(85, 85, 85);
}
span {
    margin-top: 0.5em;
}
.fa-solid {
    font-size: 1.5em;
}
.fa-share-from-square {
    color: rgb(44, 255, 44);
}

.footer__section--start {
    flex-grow: 1;
    display: flex;

}
.footer__section--center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 3;
}
.footer__section--end {
    font-size: smaller;
    flex-grow: 1;
    background-color: rgba(214, 26, 26, 0.889);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.footer__section--end:hover {
    background-color: rgb(252, 18, 18);
}